
<div class="extract extract_project">
	
	<div class="section title">
		<div class="interior">
			<h1>
				{{data.project.title}}
				<span>{{data.project.date}}</span>
			</h1>

			<h2>
				{{{data.project.subheadline}}}
			</h2>

			<h3>
				{{{data.project.role}}}
			</h3>
		</div>
	</div>


	<div class="section main_event">
		<div class="interior">			

		{{#if data.project.mainEvent_vimeo_id}}
			<iframe 
				src="//player.vimeo.com/video/{{data.project.mainEvent_vimeo_id}}" 
				width="WIDTH" 
				height="HEIGHT" 
				frameborder="0" 
				webkitallowfullscreen 
				mozallowfullscreen 
				allowfullscreen>
			</iframe>
		{{else}}
			<img 
				src-desktop="{{{cloudinaryUrl data.project.mainEvent.desktop}}}"
				src-mobile="{{{cloudinaryUrl data.project.mainEvent.mobile}}}">
		{{/if}}

		</div>
	</div>


	<div class="section title">
		<div class="interior">
			<h1>
				{{data.project.content.subsection01_title}}
			</h1>

			<h2>
				{{{data.project.content.subsection01_subtitle}}}
			</h2>
		</div>
	</div>


	<div class="section images">
		<div class="interior" count="{{data.project.content.subsection01_imageRow01.length}}">
			{{#each data.project.content.subsection01_imageRow01}}
				<img 
					src-desktop="{{{cloudinaryUrl}}}">
			{{/each}}
		</div>
	</div>


	{{#if data.project.content.subsection01_imageRow02}}

	<div class="section images">
		<div class="interior" count="{{data.project.content.subsection01_imageRow02.length}}">
			{{#each data.project.content.subsection01_imageRow02}}
				<img 
					src-desktop="{{{cloudinaryUrl}}}">
			{{/each}}
		</div>
	</div>

	{{/if}}


	{{#if data.project.content.subsection01_imageRow03}}

	<div class="section images">
		<div class="interior" count="{{data.project.content.subsection01_imageRow03.length}}">
			{{#each data.project.content.subsection01_imageRow03}}
				<img 
					src-desktop="{{{cloudinaryUrl}}}">
			{{/each}}
		</div>
	</div>

	{{/if}}


	{{#if data.project.content.subsection01_imageRow04}}

	<div class="section images">
		<div class="interior" count="{{data.project.content.subsection01_imageRow04.length}}">
			{{#each data.project.content.subsection01_imageRow04}}
				<img 
					src-desktop="{{{cloudinaryUrl}}}">
			{{/each}}
		</div>
	</div>

	{{/if}}


	<div class="section title">
		<div class="interior">
			<h1>
				{{data.project.content.subsection02_title}}
			</h1>

			<h2>
				{{{data.project.content.subsection02_subtitle}}}
			</h2>
		</div>
	</div>


	{{#if data.project.content.subsection02_link}}

	<a class="section project_link" href="{{{data.project.content.subsection02_link}}}">
		<div></div>
	</a>

	{{/if}}


	{{#if data.project.content.subsection02_imageRow}}

	<div class="section images">
		<div class="interior" count="{{data.project.content.subsection02_imageRow.length}}">
			{{#each data.project.content.subsection02_imageRow}}
				<img 
					src-desktop="{{{cloudinaryUrl}}}">
			{{/each}}
		</div>
	</div>

	{{/if}}
</div>


















