
<div class="container">
	{{!-- {{>navigation}} --}}
	<div class="row">
		<div class="">
			<article>
					<h1>
						{{data.project.title}}
						<span>{{data.project.date}}</span>
					</h1>
					{{{data.project.subheadline}}}

					{{#if data.project.mainEvent_vimeo_id}}
						<iframe src="//player.vimeo.com/video/{{data.project.mainEvent_vimeo_id}}" width="WIDTH" height="HEIGHT" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
					{{else}}
						<img src="{{{cloudinaryUrl data.project.mainEvent_image width=750 height=450 crop='fit' }}}">
					{{/if}}
					<h5>
						{{{categoryList data.project.categories prefix="projected in "}}}
						{{#if author.name.first}}by {{author.name.first}}{{/if}}
					</h5>
				</header>
				<div class="project">
					{{#if data.project.image}}<img src="{{{cloudinaryUrl data.project.image width=750 height=450 crop='fit' }}}" class="img-responsive">{{/if}}
					{{{data.project.content.extended}}}
				</div>
			</article>
		</div>
	</div>
</div>